<h2><%= post.title %></h2>

<p>
   <% if truncate_body %>
    <%= truncate(post.body, length: 100) %>
  <% else %>
    <%= simple_format(post.body) %>
  <% end %>
</p>

<p>
  投稿者：<%= post.user.email %>
</p>
<%= link_to "Show", post %>

<% if user_signed_in? && post.user == current_user %>
  | <%= link_to "Edit", edit_post_path(post) %> |
  <%= link_to "Delete", post,
        data: {
          turbo_method: :delete,
          turbo_confirm: "本当に削除しますか？"
        } %>
<% end %>